body {
    /* add media queries to resize background img to device size later + make background images .svg*/
    background-image: url(background.png);


    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FCFAF2;
}

header {
    width: 100%;
    height: 15%;
}

.flexWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-around;
    flex-grow:0;
}

.flexWrapper > .flexContent {
padding: 0;
}

.headerLogo {
    width: 100%;
}