body {
    /* add media queries to resize background img to device size later + make background images .svg*/
    background-image: url(img/backgroundmobile.svg);


    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FCFAF2;

}

@media screen and (min-width: 800px) {
    body {
        background-image: url(img/background-big.svg);
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    width: 100%;
    height: 15%;
}

h1 {
    font-size: 200%;
    text-align: center;
}

.smaller-header-txt {
    font-size: 150%;
    text-align: center;
}

.flexWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-around;
    flex-grow: 0;
}

.flexWrapper>.flexContent {
    /*only targets the class in the div*/
    padding: 0;
}

.headerLogo {
    width: 100%;
}

/* burger menu*/

.closeIcon {
    display: none;

}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 8px;
    border: none;
    background: rgb(255, 196, 8);
    color: #FCFAF2;
    cursor: pointer;
}

.menu {
    position: fixed;
    transform: translatex(-100%);
    transition: transform 0.6s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    backdrop-filter: blur(25px);
    background-color: rgb(252, 250, 242);
    list-style: none;
    margin-top: -0%;
    margin-left: 0%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}


li {
    text-align: center;
    margin-right: 5%;

}

li>a {
    color: #3A8FB7;
    text-decoration: none;
    font-size: 200%;
}

.logo {
    width: 100px;
    height: 100px;
}

.showMenu {
    transform: translateY(0);
}


/* header END */
.flex-w-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*the content will adjust to screen size*/
    justify-content: center;
    /*even amount of space*/
    flex: 0 0 auto;
}

.super-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*the content will adjust to screen size*/
    justify-content: space-evenly;
    /*even amount of space*/
    flex: 0 0 auto;
}

.flex-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*the content will adjust to screen size*/
    justify-content: space-evenly;
    /*even amount of space*/
    flex: 0 0 auto;
    margin-right: 1.5%;
}

.flex-c-2 {
    background-color: #FCFAF2;
    flex-basis: 350px;
    height: 350px;
    padding: 1%;
    margin-top: 8%;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1180px)
/*makes the margin smaller for tablet viewers*/

    {
    .flex-c-2 {
        margin-top: 4%;
    }

}

.flex-c-2>.flex-c-2-txt {
    /*Here the size for the text in the front page is made smaller than the images above and under*/
    height: 250px;
}

.c-2-txt {
    font-size: 14px;
}

.flex-w-2>.flex-c-2>.flex-w-3 {
    flex-basis: 100%;
    height: 100%;
}

.flex-w-2>.flex-c-2>.flex-w-3>.flex-c-3 {
    /*for the picture*/
    width: 100%;
    height: 50%;
}

.flex-w-2>.flex-c-2>.flex-w-3>.flex-c-4 {
    /*for the text*/
    width: 100%;
    height: 20%;
}

.flex-w-2>.flex-c-2>.flex-w-3>.flex-w-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

.flex-w-2>.flex-c-2>.flex-w-3>.flex-w-4>.flex-c-5 {
    flex-basis: 25%;
}

.flex-w-2>.flex-c-2>.flex-w-3>.flex-c-6 {
    width: 100%;
    height: 8%;
}

.imgSpec {
    height: 100%;
    width: 100%
}

.specialBox {
    margin-bottom: -10%;
}

.specialBox>img {
    margin-top: -2%;
}

h2,
p {
    text-align: center;
}

p {
    font-size: small;
}

/* For .btnplus several styles have been added.
background color for the blue background of the button
padding to increase size of button
border radius to round button corners
border none to remove border */

.btnplus {
    background-color: #3A8FB7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0px 40px 40px 0px;
    margin-left: -5px;
}

.btnminus {
    background-color: #3A8FB7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 40px 0px 0px 40px;
    margin-right: -5px;
}

.myamt {
    background-color: #3A8FB7;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
}

/* on hover for buttons background-color to change the color from its former value to value in .btnplus:hover.
transition: 0.5s to create a slow transition.
transform: rotate(-180deg) to create a rotation of the button */

.btnplus:hover {
    background-color: #FFC408;
    transition: 0.5s;
    border-radius: 40px 0px 0px 40px;
    transform: rotate(-180deg);
}

.btnminus:hover {
    background-color: #FFC408;
    transition: 0.5s;
    border-radius: 0px 40px 40px 0px;
    transform: rotate(180deg);
}

.myamt:hover {
    background-color: #FFC408;
    color: #3A8FB7;
    transition: 1s;
}

.btnplus:active {
    background-color: #E1E88A;
}

.btnminus:active {
    background-color: #E1E88A;
}

.myamt:focus {
    border: none;
    outline: none;
}

.mysubmitbtn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3A8FB7;
    color: white;
    border: none;
    border-radius: 40px;
}

.mysubmitbtn:hover {
    transition: 1s;
    background: rgb(255, 196, 8);
    color: #3A8FB7;
}

.mysubmitbtn:active {
    background-color: #E1E88A;
}

input[type=time] {
    background-color: #E1E88A;
    padding: 10px;
    border: none;
    border-radius: 40px;
}

select {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E1E88A;
    color: black;
    border: none;
    border-radius: 40px;
}

.bigImg:hover {
    transition: 2s;
    transform: scale(150%);
    z-index: 99;
}